/* Login.css */
.auth-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f8fa;
}

.left-container .image {
    max-width: 95%;
    height: 98%;
    /* object-fit: contain; */
    border-radius: 3rem;
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .right-container {
    background-color: #15202b;
    color: white;
}

.twitter-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.error-message {
    color: red;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

input {
    width: 92%;
    height: 35px;
    padding: 6px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.btn {
    width: 87%;
    height: 48px;
    background-color: #1da1f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.btn:hover {
    background-color: #0d8bf0;
}

.g-btn {
    width: 48% !important;
    height: 50px !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 6px !important;
    font-size: 0.9rem !important;
}

.auth-link {
    text-decoration: none;
    color: #1da1f2;
    font-weight: bold;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .auth-container {
        flex-direction: column;
    }
    .left-container {
        display: none;
    }
    .right-container {
        width: 100%;
        box-shadow: none;
    }
    .button-container {
        flex-direction: column;
        width: 100%;
    }
    .btn, .g-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
