.widgets {
    flex: 0.3;
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  
  .widgets::-webkit-scrollbar {
    display: none;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color:rgb(146, 142, 142);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input>input {
    outline: none;
    border: none;
    margin-top: 0px;
    background-color:rgb(146, 142, 142);
    color: white;
  }
  
  .widgets__searchIcon {
    color: black;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer>h2 {
    font-size: 18px;
    font-weight: 800;
  }
  
  @media screen and (max-width:688px) {
    .widgets {
      display: none;
    }
  }